<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HackHelper.Properties.Settings>
            <setting name="NameInfo" serializeAs="String">
                <value>Tested password</value>
            </setting>
            <setting name="CountInfo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoInfo" serializeAs="String">
                <value>One of the textboxes contains invalid data.</value>
            </setting>
        </HackHelper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HackHelper.Properties.Settings>
            <setting name="DataInfo" serializeAs="String">
                <value>Start by typing all the available passwords into this textbox. (One password per line. Make sure you have no misspelled words.)

For each password you test, enter it in the textbox below together with the number of correct characters and press Go.

The program will remove any disqualified passwords from this box. Enter a new possible password chosen from the remaining ones listed here and repeat until only one password remains.</value>
            </setting>
        </HackHelper.Properties.Settings>
    </applicationSettings>
</configuration>